<div class="mp-merchant-address-list">
    <h4 class="mp-merchant-address-list__title">
        <ng-content select="[business-unit-title]"></ng-content>
    </h4>

    @if (businessUnitList.length) {
        @for (businessUnit of businessUnitList; track businessUnit) {
            <div class="mp-merchant-address-list__business-unit">
                <spy-checkbox
                    class="mp-merchant-address-list__business-unit-checkbox"
                    name="{{ businessUnit.checkboxName }}"
                    id="{{ businessUnit.checkboxName }}"
                    [attrs]="{ value: businessUnit.id }"
                    checked
                ></spy-checkbox>
                <div>
                    <h5 class="mp-merchant-address-list__business-unit-name">{{ businessUnit.businessUnitName }}</h5>
                    <ul class="mp-merchant-address-list__address-list">
                        @for (address of businessUnit.addresses; track address) {
                            <li class="mp-merchant-address-list__address-list-item">
                                <spy-icon
                                    class="mp-merchant-address-list__address-list-item-icon"
                                    name="address"
                                    icon
                                ></spy-icon>
                                <span class="mp-merchant-address-list__address-list-item-text">{{ address }}</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    }

    @if (!businessUnitList.length) {
        <span class="mp-merchant-address-list__empty">
            <ng-content select="[business-unit-empty]"></ng-content>
        </span>
    }
</div>
